/*Fonte para o site*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');

body{
	margin:0;
	font-family:sans-serif;
}
header {
	margin-top:3px;

}

.logoint {
	height:50px;
}
.logoint a {
	
	font-size:38px;
	color:#000;
	background: -webkit-linear-gradient(#000, #FFF);
	font-family: 'Great Vibes', cursive;
  	-webkit-background-clip: text;
	text-decoration:none; 
}

/* Busca header*/
.container_busca {
	
	
	height:50px;
	width:100%;
	

	display:flex;

	align-items:center;
	flex-direction:row-reverse;	

}
#busca {
	
	
	height:35px;
	
}
.botao_busca {
	
	height:35px;

	background-color:#fff;
	border: 1px solid #ced4da;
	position:absolute;
	

}
.botao_busca:hover {
	background-color:#e7e3e3;
}
.botao_busca img {
	line-height:35px;

}


/*  Icones login, curtir, carrinho*/

.icones {
	height:50px;
	display:flex;
	align-items:center;
	float:right;

}
.icones img {
	width:100%;
	padding-right:4px;
	padding-left:4px;
}
.icones img a {
	text-decoration:none;
}

/* Menu */
nav {
	background-image: linear-gradient(to left, #232020, #161414);
	height:40px;
	text-align:center;
	line-height:40px;
	align-items:center;
	font-size:20px;
}
.list_menu {
	height:40px;
	display:flex;
	
/*	background: -webkit-linear-gradient(#000, #FFF);
	-webkit-background-clip: text;
	text-decoration:none; */	

}
.list_menu ul {
	height:40px;
	margin-left:10px;
}
.list_menu li {
	float:left;

	list-style:none;
	height:40px;
	width:120px;
}
.list_menu li a {

	color:#FFF;
	text-decoration:none;
	height:40px;
}



.filtro {
	
	color:#FFF;
}


/* Ciração do rodapé */
.rodape {
	margin-top:30px;
	width:100%;
	height:500px;
	background-color:red;
	padding-right:2.5px;
	padding-left:2.5px;
}
/* Agente so vai aplicar uma imagem para que o conteudo não fique colado */
.primeiroitemrodape
.rodapetitulo {
	margin-right:5px;
	
}
/* TItulo de cima no rodapé */
.tituloFooter {
	margin-top:10px;
	text-transform:uppercase;
	margin-bottom:2px;

}

/* Para enviar notificação */
#assinatura {
	width:170px;
	height:32px;
	font-size:12px;

}
/* Menu do footer principal Aplicação de cor*/
#footerint {
	background-image: linear-gradient(to left, #141313, #161414);
	color: #212529;

}

/* Coisa do itens do footer 2 aba */
#itemfooter {
	margin-top:-10px;
	font-size:15px;
}
#itemfooterp {
	
	font-size:15px;
}

#itemfooter a:hover {
	background-color:#6f6b6b;
	
}
#itemfooterp a:hover {
	background-color:#6f6b6b;
	
}
.footersubitem {
	width:240px;
}
/* Parte de endereço e email */
#enderecoint {
	background-color:#fff;
}
.endereco {
	color:#403d3d;
	font-size:13px;
	margin-bottom:0px;

}
/* Linha de email */
.email {
	color:#403d3d;
	font-size:13px;
	margin-top:-15px;
}

/* Home.php (view)*/

.carousel-item {
	background-color:red;
	width:100%;
} 

.carousel-item img {
	height:600px;
	width:100%;
}
.carousel-control-prev-icon {


}
/* Estilização dos icones fazer depois(slideshow)*/
.carousel_before {




}
.carousel_after {




}
.carousel-control-next-icon {

}

/* Informações de home.php*/

.metodo_pag {
	background-color:#EEE;
}


.quadr_product {
	
	float:left;

	width:100%;
	height:478px;
	margin-top:20px;
	margin-right:30px;

}
.quadr_product a {
	color:#000;
	text-transform:none;
	text-decoration:none;
}


/* Image desalinhada para dar estilo.


.quadr_product2 {

	width:250px;
	height:410px;
	
	margin-right:40px;

}
.quadr_product2 img {
	width:100%;
	height:90%;

}  */
.quadr_product img {
	width:100%;
	height:79%;

}
.price_container {
	width:100%;
	height:10%;

}
.price_container p {
	text-align:center;
	font-size:17px;
	 
	font-family:'Modern Antiqua', cursive;

}
.btn_buy {
	width:100%;
	


	color: #85c4d0;
    background-color: transparent;
    background-image: none;
    border-color: #85c4d0;
}
.btn_buy:hover{
	background-color:#7cd0e0;
	color:#fff;
}

.inter {
	display:flex;
	flex-direction:column;
	width:100%;
	background-color:black;
	border-bottom:25px solid black;
	align-items:center;
	margin-top:20px;
	color:#fff;

}
.campo_interesse {


	

	width:100%;
	height:300px;
}
.campo_interesse div {
	width:100%;
	height:100%;
}


.before_footer_row {
	margin-top:40px;
	height:350px;
	background-color:#000;


}
.container_before_footer {
	height:100%;
	width:100%;


} 
.before_footer {

	width:100%;
	height:90%;

}

.before_footer img {
	margin-top:5%;
	margin-left:5%;
	width:90%;
	height:90%;
}

/* Login e Registro Form(login.php)*/
.form_login {
	display:flex;
	flex-direction:column;
	align-items:flex-stretch;

	margin:auto;

	text-align: center;


}
.form_login h3 {
	margin-bottom:50px;
}
.form_login form {

	width:100%;

	margin-top:0px;


}
/* Mostra login, ou register*/
#display_user {
	background-color:red;
	display:none;
}

.botao_user {
	width:49%;
	padding-left:12px;


}
.btn_register {
	background: #212529;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.5pt;
    
    
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
    

    -moz-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
.btn_logar {
	
    background: #212529;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.2pt;
    
    
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
    

    -moz-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 0px rgba(0,0,0,0.2);

}

/* View account.php*/


.painel_container {


	display:flex;
	margin:auto;
	/*flex-direction:column;*/
	

}
.painel_btns {



	margin-top:5px;
	border:8px solid #fff;
	background-image: linear-gradient(to left, #232020, #161414);
	/* Cinza: background-color:#909090;*/
}

.painel_container a {
	width:100%;

/*	margin-top:4.5px;
	margin-bottom:4.5px;*/
	color: #fff;

}


.painel_container a:hover {
	border-top:4px solid #b5b4b4;
	border-bottom:4px solid #b5b4b4;
	border-color: #b5b4b4;
} 

.perfil {
	display:flex;
	background-image: linear-gradient(to right, #8e8e8e, #bdbcbc);
	background-color:#8e8e8e;
	align-items:center;
	flex-direction:column;
}

.information {
	width:400px;
	margin-bottom:10px;

	color:#edf7f7;
}

/* Pagina dos product_item(view) */
.price_from {
	text-decoration: line-through;
	font-size: 14px;
}

.addtocartfrom {
	margin-top:20px;

}
.addtocart_qt {
	height:35px;
	width:40px;
	text-align:center;
	border:1px solid #CCC;
	outline:0;
	float:left;
}
.addtocartfrom button {
	height:35px;
	text-align:center;
	border:1px solid #CCC;
	width:30px;
	background-color:#fff;
	font-weight:bold;
	float:left;
}

.addtocart_submit {
	width:80%;
	margin-left:30px;
	margin-right:20px;
	margin-top:8px;
	height:35px;
    color: #85c4d0;
    background-color: transparent;
    background-image: none;
    border-color: #85c4d0;
}
.addtocart_submit:hover{
	background-color:#7cd0e0;
	color:#fff;
}
.mainphoto {
	margin-top:50px;
}
.setas_prev,
.setas_next {
	width:20px;
	height:472px;
	display:flex;
	position:relative;

	align-items:center;
   	justify-content:center;
   	margin-top:50px;
}
.setas_prev {

	float:left;
   	

}
.setas_next {
	float:right;

}


.seta-prev {
	width: 23px;
    height: 45px;
    background: url(../images/prod_slider/prev.png) center center;
    float:left;	

}
.seta-next {
    width: 23px;
    height: 45px;
    background: url(../images/prod_slider/next.png) center center;
    float: right;

}
.mainphoto {
	display:flex;
	justify-content:center;
}
.mainphoto img {
	width:90%;

	height:470px;
}
.photo_item {
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	margin-top:10px;
	cursor:pointer;
}
.photo_item img {

	width:90%;
	height:100%;
}

/*Lancamento.php (view)*/
.sidebar {
	margin-top:30px;
}






